@font-face {
  font-family: InterMedium,
               InterRegular,
               LexendDecaRegular;
               
  src: url('fonts/Inter-Medium.ttf') format('truetype'),
       url('fonts/Inter-Regular.ttf') format('truetype'),
       url('fonts/LexendDeca-Regular.ttf') format('truetype');
}

body {
  background-color: #121214;
  font-family: LexendDecaRegular, sans-serif;
}

p {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 51.04px;
  align-items: center;
}

.code-span {
  color: #E07B67;
}

.header-title {
  display: flex;
  justify-content: center;
}

.search-input {
  background-color: #202024;
  border: none;
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  color: #AFABB6;

  display: flex;
  justify-content: center;

}
